<header class="bg-dark py-5">
  <div class="container px-5 bg-dark">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">
            Projeto CRUD ETEOT Angular, Bootstrap.5, PHP
          </h1>
          <p class="lead fw-normal text-white-50 mb-4">
            Projeto construído com Angular no front-end para gerenciar clientes,
            e o back-end em PHP cuidando das regras de negócio, APIs e banco de
            dados.
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
              <!-- Botão para abrir o modal de acesso -->
              <button class="btn btn-primary btn-lg px-4 me-sm-3" type="button" (click)="openModal('modalAcesso')">Acesse</button>
              <!-- Botão para abrir o modal de cadastro -->
              <button class="btn btn-outline-light btn-lg px-4" type="button" (click)="openModal('modalCadastro')">Cadastre-se</button>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img
          class="img-fluid rounded-3 my-5"
          src="https://dummyimage.com/600x400/343a40/6c757d"
          alt="..."
        />
      </div>
    </div>
  </div>
</header>

<!-- Modal CADASTRO-->
<div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content w-75">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Cadastre-se</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <form (ngSubmit)="submitUsuario()"> <!-- Aqui estamos chamando a função submitUsuario() quando o formulário é enviado -->

          <!-- Nome Usuario -->
          <div class="form-outline mb-4">
            <label class="form-label" for="nome_usu">Nome</label>
            <input type="text" id="nome_usu" class="form-control" [(ngModel)]="nome_usu" name="nome_usu" />
          </div>
          <!-- Email CADASTRO -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email_usu">Email</label>
            <input type="email" id="email_usu" class="form-control" [(ngModel)]="email_usu" name="email_usu" />
          </div>
          <!-- password CADASTRO -->
          <div class="form-outline mb-4">
            <label class="form-label" for="pass_usu">Senha</label>
            <input type="password" id="pass_usu" class="form-control" [(ngModel)]="pass_usu" name="pass_usu" />
          </div>
          <!-- Submit CADASTRO -->
          <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal ACESSO-->
<div class="modal fade" id="modalAcesso" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content w-75">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Acesse</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <form (ngSubmit)="submitLogin()"> <!-- Aqui estamos chamando a função submitLogin() quando o formulário é enviado -->
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email ou Telefone</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" />
          </div>

          <!-- password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="senha">Senha</label>
            <input type="password" id="senha" class="form-control" [(ngModel)]="senha" name="senha" />
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block" data-bs-dismiss="modal">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
